DEVELOPMENT_TEAM = A9FL89PFFL

PRODUCT_NAME = eRpApp
CODE_SIGN_ENTITLEMENTS = App/Sources/Resources/eRpApp.entitlements
GEM_PRODUCT_MODULE_NAME = eRpFeatures

GEMATIK_SOURCE_VERSION = $(GEMATIK_SOURCE_VERSION:default=LOCAL BUILD)
GEMATIK_BUNDLE_VERSION = $(GEMATIK_BUNDLE_VERSION:default=LOCAL BUILD)
GEM_PRODUCT_BUNDLE_IDENTIFIER = de.gematik.erp4ios.eRezept
GEM_APP_GROUP_IDENTIFIER = group.de.gematik.erezept.pngroup
GEM_NOTIFY_PROVISIONING_PROFILE_SPECIFIER = match AppStore $(GEM_PRODUCT_BUNDLE_IDENTIFIER).notify

// CS Framework support needs this
OTHER_LDFLAGS = -all_load
