--exclude Package.swift,.build,vendor,Carthage,DerivedData,build,**/Generated

# format options
--swiftversion 5.7

--indent 4
--ifdef no-indent
--maxwidth 120
--operatorfunc no-space
--self remove
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve
--typeattributes prev-line
--varattributes same-line
# rules

--enable isEmpty
--allman false
--elseposition same-line
--disable elseOnSameLine, wrapMultilineStatementBraces, extensionAccessControl
