
PRODUCT_NAME = eRpApp
CODE_SIGN_ENTITLEMENTS = Sources/eRpApp/Resources/eRpApp.entitlements

GEMATIK_SOURCE_VERSION = $(GEMATIK_SOURCE_VERSION:default=LOCAL BUILD)
GEMATIK_BUNDLE_VERSION = $(GEMATIK_BUNDLE_VERSION:default=LOCAL BUILD)
GEM_PRODUCT_BUNDLE_IDENTIFIER = de.gematik.erp4ios.eRezept

// CS Framework support needs this
OTHER_LDFLAGS = -all_load
