<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>E-Rezept</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.6</string>
	<key>CFBundleVersion</key>
	<string>$(GEMATIK_BUNDLE_VERSION)</string>
	<key>GEMATIKSourceVersion</key>
	<string>$(GEMATIK_SOURCE_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>Allows you to identify and authenticate yourself by using your health insurance card</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSPinnedDomains</key>
		<dict>
			<key>apovzd-test.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
				</array>
			</dict>
			<key>apovzd.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
				</array>
			</dict>
			<key>erp-dev.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=</string>
					</dict>
				</array>
			</dict>
			<key>erp-ref.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=</string>
					</dict>
				</array>
			</dict>
			<key>erp-test.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=</string>
					</dict>
				</array>
			</dict>
			<key>erp.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>e0IRz5Tio3GA1Xs4fUVWmH1xHDiH2dMbVtCBSkOIdqM=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>RRM1dGqnDFsCJXBTHky16vi1obOlCgFFn/yOhI/y+ho=</string>
					</dict>
				</array>
			</dict>
			<key>idp-pairing-ref.zentral.idp.splitdns.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
				</array>
			</dict>
			<key>idp-pairing-test.zentral.idp.splitdns.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
				</array>
			</dict>
			<key>idp-pairing.zentral.idp.splitdns.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>qBRjZmOmkSNJL0p70zek7odSIzqs/muR4Jk9xYyCP+E=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>w9I8WrpHr1YAS0DugvLGsrI9Vm1yEkZAyllKxemXXf4=</string>
					</dict>
				</array>
			</dict>
			<key>idp-ref.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
				</array>
			</dict>
			<key>idp-test.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
				</array>
			</dict>
			<key>idp.app.ti-dienste.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>86fLIetopQLDNxFZ0uMI66Xpl1pFgLlHHn9v6kT0i4I=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>qBRjZmOmkSNJL0p70zek7odSIzqs/muR4Jk9xYyCP+E=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>w9I8WrpHr1YAS0DugvLGsrI9Vm1yEkZAyllKxemXXf4=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>E-Rezept needs access to your camera so that it can read your prescritions</string>
	<key>NSFaceIDUsageDescription</key>
	<string>E-Rezept uses FaceID to protect access to your app.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your location is only required if you want to find pharmacies around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is only required if you want to find pharmacies around you</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760001448000</string>
		<string>D27600014601</string>
		<string>D27600014606</string>
		<string>D27600000102</string>
		<string>A000000167455349474E</string>
		<string>D27600006601</string>
		<string>D27600014602</string>
		<string>E828BD080FA000000167455349474E</string>
		<string>E828BD080FD27600006601</string>
		<string>D27600014603</string>
	</array>
</dict>
</plist>
